.first-vi{
    margin-top: 100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    margin-top: 80px;
    flex-wrap: wrap;
}
.img-container{
   position: relative;
   margin-top: 80px;
   width: 500px;
   height: 520px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.transparent-object{
   position: absolute;
   width: 115%;
   height: 90%;
   top: 0px;
   right: 0px;
   background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, #000000 60%);
   z-index: 1;
   transform: translateX(20px) translateY(10px);
}
.img-ring{
   width: 730px;
   height: 90%;
   transform: translateY(-35px) translateX(-60px);
   zoom: 10px;
   z-index: 0;
   object-fit: none;
}
.h1-vyroba{
   font-size: 52px;
   font-weight:bolder;
   letter-spacing: -2px;
   margin: 0;
   text-wrap: nowrap;
}
.h1-p-vyroba{
   font-size: 24px;
   width: 700px;
   line-height: 32px;
}
.section-vyroba{
   width: 49%;
   z-index: 2;
   display: flex;
   flex-direction: column;
   gap: 25px;
   transform: translateY(0px);
}
.button-vice{
   font-size: 24px;
   width: 136px;
   height: 49px;
   background-color: #ECDFCC;
   color: black;
}
.imgs-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.fir{
   width: 50%;
}
.sco{
   width: 350px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
#work{
width: 350px;
background-color: aquamarine;
height: 55%;
}
#work2{
width: 350px;
background-color: aquamarine;
   height: 45%;
}
#work3{
width: 520px;
background-color: aquamarine;
   height: 520px;
}
@media (max-width:1000px) {
 .sco{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: auto;
   flex-direction: row;
   gap: 20px;
}
   .imgs-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 500px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 200px;
}
#work{
width: 400px;
background-color: aquamarine;
height: 400px;
margin: auto;
}
#work2{
width: 400px;
background-color: aquamarine;
   height: 450px;
   margin: auto;
}
}
@media (max-width:900px) {
   .sco{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: auto;
   flex-direction: row;
   gap: 20px;
}
   .imgs-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 450px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 200px;
}
#work{
width: 350px;
background-color: aquamarine;
height: 350px;
margin: auto;
}
#work2{
width: 350px;
background-color: aquamarine;
   height: 400px;
   margin: auto;
}
}
@media (max-width:800px) {
   .sco{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: auto;
   flex-direction: row;
   gap: 20px;
}
   .imgs-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 200px;
}
#work{
width: 300px;
background-color: aquamarine;
height: 300px;
margin: auto;
}
#work2{
width: 300px;
background-color: aquamarine;
   height: 350px;
   margin: auto;
}
}
@media (max-width:650px) {
   .sco{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: auto;
   flex-direction: row;
   gap: 0px;
}
   .imgs-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 380px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 200px;
}
#work{
width: 280px;
background-color: aquamarine;
height: 280px;
margin: auto;
}
#work2{
width: 280px;
background-color: aquamarine;
   height: 310px;
   margin: auto;
}
}
@media (max-width:620px) {
   #work3{
    width: 100%;
    background-color: aquamarine;
    height: 500px;
}
   .fir{
   width: 100%;
}
.imgs-container {
  display: flex;
  gap: 20px;
  height: 500px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
}
}
@media (max-width:480px) {
   #work3{
    width: 100%;
    background-color: aquamarine;
    height: 400px;
}
   .fir{
   width: 100%;
}
.imgs-container {
  display: flex;
  gap: 20px;
  height: 400px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 50px;
}
}