.background-hidder{
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
z-index: 1;
background: linear-gradient(rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .8) 100%);
}
.bacground-container{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.back-img{
    width: 2300px;
    height: 850.68px;
    object-fit:cover;
}
.img-cont{
    width: 100%;
    height: 850px;
}
.h2-moje{
    font-size: 48px; 
    margin-top: 65.5px;
    margin-bottom: 20px;
}
.h2-container{
    display: flex;
    justify-content: center;
}
.slider-container{
    margin-top: 80px;
    width: 100%;
    height: 850px;
    overflow-y: hidden;
}
.slider{
    position: relative;
    height: 535px;
    display: flex;
    align-items: center;
    gap: 100px;
    overflow-x: hidden;
}
.slider-item{
    width: 450px;
    height: 518px;
    position: absolute;
    top: 8.5px;
    left: 50px;
}
@media (max-width: 620px){
    .slider-container{
    margin-top: 80px;
    width: 100%;
    height: 700px;
    overflow-y: hidden;
}
 
}
@media (max-width: 1000px) {
  .slider-item{
    width: 350px !important;;
    height: 518px;
    position: absolute;
    top: 8.5px;
    left: 50px;
    
}
.slider{
    position: relative;
    height: 535px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}
.slider-img{
    position: relative;
    width: 350px !important;
    height: 350px !important;
    background-color: transparent;
}
}
@media (max-width: 500px) {
  .slider-item{
    width: 250px !important;;
    height: 350px;
    position: absolute;
    top: 8.5px;
    left: 50px;
    
}
.slider-container{
    margin-top: 80px;
    width: 100%;
    height: 650px;
    overflow-y: hidden;
}
.slider{
    position: relative;
    height: 350px;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;

}
.slider-img{
    position: relative;
    width: 250px !important;
    height: 250px !important;
    background-color: transparent;
}
}
.slider-img{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: transparent;
}
.text-info-slider-item{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.text-info-slider-item h3{
    font-size: 40px;
}
.text-info-slider-item p{
    font-size: 32px;
}